<li>
		<a class="photography" href="/006/london-photography.html">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">006</span></div>
				<div class="g g-6">
					<h2>London</h2>
					<p class="description">Photos from my visit to London.</p>
				</div>	
				<div class="g g-3">Photography</div>
			</div>
		</a>
	</li>
	
	<li>
		<a class="web" href="https://www.behance.net/gallery/22992297/Laserweb-Branding">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">005</span></div>
				<div class="g g-6">
					<h2>Laserweb</h2>
					<p class="description">Web design for a laser cutting company.</p>
				</div>	
				<div class="g g-3">Web Design</div>
			</div>
		</a>
	</li>
	
	<li>
		<a class="web" href="https://www.behance.net/gallery/25654939/GBAC-Responsive-Website">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">004</span></div>
				<div class="g g-6">
					<h2>GBAC</h2>
					<p class="description">A bold design for a forward-thinking accountancy practice.</p>
				</div>	
				<div class="g g-3">Web Design</div>
			</div>
		</a>
	</li>
	
	<li>
		<a class="graphic" href="https://www.behance.net/gallery/22974273/Go-Wild-In-Branding">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">003</span></div>
				<div class="g g-6">
					<h2>Go Wild In Logo</h2>
					<p class="description">Logo design for events run by Team Activ+.</p>
				</div>	
				<div class="g g-3">Logo Design</div>
			</div>
		</a>
	</li>
	
	
	<li>
		<a class="graphic" href="http://gramophoney.com">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">002</span></div>
				<div class="g g-6">
					<h2>Gramophoney</h2>
					<p class="description">Redesigning an album-cover-a-day.</p>
				</div>	
				<div class="g g-3">Graphic Design</div>
			</div>
		</a>
	</li>
	
	<li>
		<a class="photography" href="http://nicesmilesir.com">
			<div class="gw">
				<div class="g g-1"></div>
				<div class="g g-2"><span class="number">001</span></div>
				<div class="g g-6">
					<h2>Nice Smile Sir</h2>
					<p class="description">A collaborative photo-a-day project.</p>
				</div>	
				<div class="g g-3">Photography</div>
			</div>
		</a>
	</li>