---
title: shrff.com
---

<div class="hero">
	<div class="hero__message">
		<p class="big">Hello.</p>
		<p class="opening">My name is James Sheriff and I'm a web designer based in Yorkshire. I'm the business development director at <a href="http://geniusdivision.com">Genius Division</a>, a company I set up with long time conspirators <a href="http://do-some-thing.co.uk">Craig Burgess</a> and <a href="http://richardjkeys.co.uk">Richard Keys</a>.</p>
	</div>
</div>

<ul class="big-list">
	
	<%= partial "partials/work-list" %>
	
</ul>